<div class="background">
    <div class="navbar">
    <div class="left">
        <mat-icon  id="icon">view_headline</mat-icon>
        <mat-icon id="icon">facebook</mat-icon>
        <mat-icon id="icon">search</mat-icon>
        <input id="search" type="text" placeholder="Search">
    </div>   

    <div class="mid">
        <a [routerLink]="['/']">
             <mat-icon  id="home" style="color: azure;">home></mat-icon>
        </a>
           
        <h1  id="title" style="color:snow">Web Shop</h1>   
    </div>

    <div class="right">
        <mat-icon id="icon">account_box</mat-icon><h2 id="sign_in">Sign In</h2>   
        <a [routerLink]="['/cart']">
            <mat-icon id="icon" >add_shopping_cart</mat-icon> 
         </a>
         <h2 id="number">{{this.tshirtSrvc.cart.length}}</h2>
           
</div>
    </div>
    
    
</div>

  