*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

.abc{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#container {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.card{
    background-color:rgb(255, 255, 255);
    width: 350px;
    background-size: cover;
    margin: 10px;
    transition: 0.5s;
}
.card:hover{
    width: 350px;
    background-color: rgb(244, 240, 240);
    transition: 0.5s;
    transform: scale(1.05);
}
#abc{
    text-align: center;
}

#text{
    font-size:medium;
    font-weight: 500;
    padding: 10px;
}

.card-image{
    max-width: 100%;
    height: 350px;
    object-fit: cover;
    width: 100%;
}

#mn{
    font-size: 30px;
    margin: 20px;
    text-align: center; 
}
#still{
    color: red;
    margin-top: 20px;
    padding: 25px 25px;
    text-align: center;
    font-size: 25px,    
}
#btn{
    font-size: 25px;
    background-color:snow;
    padding: 7px 25px 7px 7px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 1px 1px 1px rgb(197, 197, 197);
    border: none;
    border-radius: 5px;
}
#btn:hover{
  color: azure;
  background-color: rgb(190, 190, 255);
  cursor: pointer;
}

